<p>Hello, <%= @user.first_name || @user.email %>!</p>

<p>This is an email to inform you about you about an newly added tournament:</p>

<p>
  <%= link_to @tournament.name, tournament_url(@tournament) %>
  <br />
  Alley: <%= @tournament.alley.name %>
  <br />
  Date: <%= @tournament.starts_at %>
</p>
