<%= javascript_pack_tag 'alleys', 'data-turbolinks-track': 'reload' %>

<h1 class="title is-3">New Alley</h1>

<%= render 'form', alley: @alley %>

<%= link_to 'Back', alleys_path, class: "button is-light" %>
