/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-select/sass/bootstrap-select";

body {
  padding-top: 66px;
}

.bootstrap-select button.dropdown-toggle {
  border-color: $custom-select-border-color !important;
  border-width: $custom-select-border-width !important;
  background: $custom-select-bg !important;
  color: $custom-select-color !important;
}

.ad {
  padding-left: 48px;
  margin-left: 48px;
  padding-top: 48px;
}